@{
    ViewBag.Title = "Home Page";
}
<div class="dropdown">
    <button class="dropbtn">My <br /><i class="fa fa-paw"></i> RezzQue <i class="fa fa-paw"></i></button>
    <div class="dropdown-content">
        <a href="#">Member Login</a>
        <a href="~/Customers/Create">Sign Up</a>
        <a href="~/Animals/Index">Pet Search <span class="glyphicon glyphicon-search"></span></a>
        <a href="~/Customers/Details">Favorites <span class="glyphicon glyphicon-heart-empty"></span></a>
    </div>
</div>






@*<div class="dropdown">
        <button class="dropbtn">My <br /><i class="fa fa-paw"></i> RezzQue <i class="fa fa-paw"></i></button>
        <div class="dropdown-content">
            <a href="#">Member Login</a>
            <a href="~/Customers/Create">Sign Up</a>
            <a href="~/Animals/Index">Pet Search <span class="glyphicon glyphicon-search"></span></a>
            <a href="~/Customers/Details">Favorites <span class="glyphicon glyphicon-heart-empty"></span></a>
        </div>
    </div>*@

<div id="HomeBodyContent">
    <div class="jumbotron" id="jumboMain">
    </div>



    <div id="mainTable">
        <div class="row">
        <div class="col-md-4">
            <h2> 1. Create Profile</h2>
            <p>
                Sign into the pet profile in order. 
                
            </p>
            
        </div>
        <div class="col-md-4">
            <h2>2. Find Pet </h2>
            <p>Locate Pets in your area</p>
           
        </div>
        <div class="col-md-4">
            <h2> 3. Contact Agency</h2>
            <p>Reach out to an agency in order to buy your pet. </p>
            
        </div>
    </div>


    </div>
</div>